body {
  background-color: #242f44;
  color: white;
  margin-left: 5px;
    font-family: 'Oswald', sans-serif;
}
a {
  color: rgba(205, 209, 141, 0.87);
  margin-left: 5px;
    font-family: 'Oswald', sans-serif;
}

header {
  text-align: center;
  margin-top: 5px;
}
p {
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
}

h1 {
  font-size: 36px;
  padding: 10px;
  color: #8c6b48;
  background-color: white;
}

h2 {
  text-align: left;
  font-size: 24px;
  padding: 15px;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  padding: 5px;
  text-transform: uppercase;
  text-align: left;
  margin-left: 10px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.8px;
}

th {
  border: 2px solid #8c6b48;
}

table {
  text-align: center;
  margin: 20px auto;
}

td {
  border: 2px solid #8c6b48;
  width: 300px;
}

footer {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  bottom: 5px;
  background-color: #152838;
  z-index: 5;
}

footer h3 {
  display: inline-block;
  font-size: 14px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  height: 800px;
}

.left {
  width: 150px;
}
